# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Lint and Test Charts

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    types: [opened, synchronize, reopened]

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.5
        with:
          fetch-depth: 0
      - name: Set up Helm
        uses: azure/setup-helm@v4.2.0
      - uses: actions/setup-python@v5.1.0
        with:
          python-version: '3.x'
          check-latest: true
      - name: Set up chart-testing
        uses: helm/chart-testing-action@0d28d3144d3a25ea2cc349d6e59901c4ff469b3b
      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed --target-branch ${{ github.event.repository.default_branch }})
          if [[ -n "$changed" ]]; then
            echo "::set-output name=changed::true"
          fi
        shell: bash
      - name: Run chart-testing (lint)
        run: ct lint --target-branch ${{ github.event.repository.default_branch }} --charts .
        shell: bash
      - name: Create kind cluster
        uses: helm/kind-action@v0025e74a8c7512023d06dc019c617aa3cf561fde
        if: steps.list-changed.outputs.changed == 'true'
      - name: Uninstall helm-unittest if present
        run: |
          helm plugin uninstall unittest >/dev/null 2>/dev/null \
            || echo "Failed to uninstall plugin, assuming it's not present."
        shell: bash
      - name: Install latest helm-unittest
        run: |
          echo "Installing latest version of helm-unittest"
          helm plugin install https://github.com/helm-unittest/helm-unittest >/dev/null 2>/dev/null
        shell: bash
      - name: Assemble list of chart directories to test
        run: |
          tr ' ' '\n' <<< . | grep -v '^$' > charts-to-test || true
          find . -type f -name 'Chart.yaml' -exec dirname {} \; > all-charts
          [ -z . ] && mv all-charts charts-to-test || true
        shell: bash
      - name: Fetch chart dependencies
        run: |
          for chart in $(cat charts-to-test); do
            helm dependency update "$chart" >/dev/null
          done
        shell: bash
      - name: Run unit tests
        run: helm unittest --color $(cat charts-to-test)
        shell: bash
      - name: Run chart-testing (install)
        if: steps.list-changed.outputs.changed == 'true'
        run: ct install --target-branch ${{ github.event.repository.default_branch }} --charts .
        shell: bash
